*{
    margin: 0px;
    padding: 0px;
}

.img-con{
    background-image:url("/Imagenes/Secundaria.jpg") ;
    height: 50px;
    width: 150px;

}
header,nav,section,footer{
width: 90%;
max-width: 1000px;
margin: 20px auto;
background-color: red;

}
header h1{
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
nav {
    width: 90%;
    margin: auto;
    background-color: rgb(113, 225, 113);
    height: 40px;
    text-align: center;
}
nav h2{
    font-size: 20px;
    
}
nav ul{
    list-style: none;

}
nav ul li{
    float:left;
}
nav ul li  a {
    padding: 10px 80px ;
    display: block;
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    background:green;
}

.color{
   background:lightgray ;

}
article{
    margin: 10px 40px;
    padding: 30px 50px;
    width: 50%;
    float:left;
   }
article h2{
    font-size: 18px;

}
aside{
    margin: 20px 20px;
    padding: 10px 10px; 
}

footer{
    text-align: center;
    max-width: 1000px;
    min-height: 120px;
    background-color: rgb(61, 240, 124);
    margin:20px;
    border-radius: 20px 20px 30px 30px;
    float:right;
    width: 700%;
}

